<section class="work">
    <h2>🖥️ Featured Work</h2>
    <div class="work-cards">
            <div class="card">
                <img src="/assets/images/sandlot.jpg" alt="Backyard Sports">
                <div class="card-block">
                    <h3>Atari</h3>
                    <p>Incline helped create the online presence for several of the games in Atari’s Backyard Sports series, including minigames, letterboards, parental controls, and more.</p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/watson-stt.png" alt="IBM Watson Speech to Text demo">
                <div class="card-block">
                    <h3>IBM Watson</h3>
                    <p>The Incline team worked on a number IBM Watson projects, including creating a <a href="https://www.npmjs.com/package/watson-speech">watson-speech</a> JavaScript SDK/Library and then building a
                        <a href="https://speech-to-text-demo.mybluemix.net/">demo</a> on top of it with React and Node.js.</p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/sunnyd.jpg" alt="SunnyD">
                <div class="card-block">
                    <h3>Sunny Delight</h3>
                    <p>Incline worked full-stack on the SunnyD Book Spree promotion, setting up the back-end and database for online registration and optimizing the front-end to be printer-friendly for offline registration.</p>
                </div>
            </div>
    </div>
</section>
