<section class="work">
    <h2>🖥️ Featured Work</h2>
    <div class="work-cards">
        <div class="card">
            <img src="/assets/images/sandlot.jpg" alt="Backyard Sports">
            <div class="card-block">
                <h3>Atari</h3>
                <p>Incline helped create the online presence for several of the games in Atari’s Backyard Sports
                    series, including minigames, letterboards, parental controls, and more.</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/nodejs.svg" alt="Node.js" style="background-color: white">
            <div class="card-block">
                <h3>Node.js</h3>
                <p>The Incline team contributes Node.js core, and has authored or contributed
                    npm modules including
                    <code>express-rate-limit</code>,
                    <code>watson-speech</code>,
                    <code>watson-developer-cloud</code>,
                    <code>prettier</code>,
                    <code>eslint</code>,
                    and hundreds more.</p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/sunnyd.jpg" alt="SunnyD">
            <div class="card-block">
                <h3>Sunny Delight</h3>
                <p>Incline worked full-stack on the SunnyD Book Spree promotion, setting up the back-end and database
                    for online registration and optimizing the front-end to be printer-friendly for offline registration.</p>
            </div>
        </div>
    </div>
</section>
