---
---

// http://www.colourlovers.com/palette/4481182/Mountain_sunset
$peachfuzz: #FFEAD7;
$blush: #ED8C85;
$craftBrewedCement: #667BB2;
$rsvp: #544B78;
$darkNight: #11112D;

$brand-primary: $rsvp;
$brand-success: $craftBrewedCement;
$brand-info: $craftBrewedCement;
$brand-warning: $blush;
$brand-danger: $blush;
$brand-inverse: $darkNight;

//$grid-breakpoints: (
//        xs: 0,
//        sm: 576px,
//        md: 768px,
//        lg: 992px,
//        xl: 1200px
//);

// weights and colors
//$body-bg: $peachfuzz;
$body-color: $darkNight;
$inverse-bg: $darkNight;
$inverse-color: $peachfuzz;

// jumbotron
$jumbotron-padding: 3rem;
$jumbotron-bg: $blush;
$display3-weight: 600;
$display4-weight: 600;
$headings-color: $rsvp;

$link-decoration: underline;

$font-size-lg: 1.5rem;

@import "bootstrap";


header {
  color: white;
  text-shadow: 0 0 4px $craftBrewedCement; //rgba($peachfuzz, 0.5); // todo: make this work with the background color variables
  h1, h2 { color: inherit; }
  a { text-decoration: none; color: inherit; }
  background-image: radial-gradient(circle at bottom center, $craftBrewedCement, $blush);
  background-image: url('/assets/images/header-bg.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-brand:hover,
.navbar-brand:focus,
.nav-link:hover,
.nav-link:focus,
.nav-item.active a
{
  // todo: come up with something better here, consider differentiating between active and hover/focus
  text-decoration: underline;
  color: inherit;
}

.jumbotron {
  h1 { @extend .display-4; }
  @media (min-width: map-get($grid-breakpoints, sm)) {
    h1 { font-size: $display3-size; }
  }
  text-align: center;
  background-color: transparent;
}

main { @extend .container; }

h1, h2, h3, h4, h5, h6 { a { text-decoration: none; } }

h2, h3 { margin-top: 30px; }

ol, ul, dl {
  padding-left: 2rem;
}

.js-icons-home img { max-width: 25%; }

.quotes {
  @extend .row;
  margin: 0;
  .big{ font-size: $font-size-lg; }
  & > div { padding: 0; }
  & > div, blockquote { @extend .col-lg;}
  blockquote {
    @extend .blockquote;
    cite {
      font-size: $font-size-sm; //$font-size-base;
      color: lighten($body-color, 20%);
      a {
        color: inherit;
        text-decoration: none;
        &:hover, &:active {
          color: lighten($brand-primary, 20%);
          text-decoration: underline;
        }
      }
    }
    p:last-child { margin-bottom: 0; }
  }
}



.services {
  margin-bottom: 30px;
}

.work {
  img {
    @extend .card-img-top;
    @extend .img-fluid;
    //height: auto;
  }
  h3 {
    @extend .card-title;
  }
  .card {
    margin-bottom: 30px;
    background-color: lighten($craftBrewedCement, 42%);
  }
}
@media(min-width: map-get($grid-breakpoints, sm)) {
  .work-cards {
    @extend .card-group;
    flex-flow: row nowrap;
    .card {
      flex-shrink: 1;
    }
  }
}


@media(min-width: map-get($grid-breakpoints, md)) {
  .capabilities ul {
    columns: 2;
    column-gap: 2rem;
  }
}

// javascript page
.javascript {
  img {
    float: right;
    width: 150px;
    max-width: 25%;
    margin: 0 0 15px 15px;
  }
  h1, h2, h3 { clear: both; }

}


footer {
  padding: 3rem 0;
  margin-top: 3em;
  background-image: url('/assets/images/header-bg.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  span {
    background: rgba($peachfuzz,0.8);
    padding: 0.15em 0.5em;
    box-decoration-break: clone;
  }
}

