<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body{%if page.class %} class="{{ page.class }}"{% endif %}>



<header>
    <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-inverse px-0">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#incline-navbar-collapsible" aria-controls="incline-navbar-collapsible" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/">◢ Incline</a>

            <div class="collapse navbar-collapse" id="incline-navbar-collapsible">
                <ul class="navbar-nav mr-0 ml-auto mt-2 mt-md-0">
                    {% for item in site.data.nav %}
                    <li class="nav-item{% if page.url == item.url %} active{% endif %}">
                        <a class="nav-link" href="{{item.url}}">{{item.name}}{% if page.url == item.url %} <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>{{ page.headline | default: site.title }}</h1>
            {% if page.subheadline %}
            <h2>{{ page.subheadline }}</h2>
            {% endif %}
        </div>
    </div>
</header>

<main>
    {{ content }}
</main>

<footer>
    <div class="container">
        <span>&copy; {{ site.time | date: '%Y' }} <a href="/">Incline Digital LLC</a>
            | Based in Pleasant Hill, Ohio
            | <a href="/contact/">Contact</a>
            | <a href="https://github.com/InclineDigital">GitHub</a>
            | <a href="https://twitter.com/InclineSystems">Twitter</a>
        </span>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

{% if site.google_analytics %}
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
